; 请妥善保管您的配置
registry=https://sunleon-npm.pkg.coding.net/npm_modules/registry/
always-auth=true
//sunleon-npm.pkg.coding.net/npm_modules/registry/:username=registry-1632548302832
//sunleon-npm.pkg.coding.net/npm_modules/registry/:_password=Zjc3MzFkOWY3ZmI3OTU3YTFjYTEyN2E4ODZjYmNjMTAyMmMwYzc0MQ==
//sunleon-npm.pkg.coding.net/npm_modules/registry/:email=xianlin_6189@163.com
